# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
.*.swp
*.nfs*
dist
*egg-info*

*build/
*/.*
*a.out
examples/basic_examples/Plots/
*.so
*cy_*.c
*.gch
*.pyc
*.npz
*.h5
*.hdf5
*.h5am
*.cb
*.cube
*.cb.gz
*.cube.gz
*.hx
*.md
*.am
*.cmap
*.oklog
*.tga
*.vmd
*.kate-swp
*.xyz
*.pdb
orbkit/*.html

!grid*.txt
!orbkit*.hx
!h2o.md
!MO_List.tab
!MO_List_int.tab
!Tab.csv
!*.molden
!orbkit_command.txt

orbkit/development
doc/_*

# Decompressed example files
pec_co2
NaCl_molden_files

# IDE files to ignore (Netbeans, Eclipse)
nbproject/private/
.classpath
.project
.settings

# ignore generated .class files
*.class

# except this file
!.gitignore
