# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
.*.swp

*.pyc
*.h5
*.h5am
*.cb
*.cube
*.hx
*.md
*.molden
*.am
*.cmap
*.log
*.oklog
*.tga
*.vmd
*.kate-swp
*.xyz
*.pdb
*.txt

!grid*.txt
!orbkit*.hx
!h2o.md
!MO_List.tab
!MO_List_int.tab
!Tab.csv

# Under developement
orbkit/development
examples/Plots
examples/NaCl_molden_files


# IDE files to ignore (Netbeans, Eclipse)
nbproject/private/
.classpath
.project
.settings

# ignore generated .class files
*.class

# except this file
!.gitignore
